.favorite {
	position: relative;
	padding: 1rem 5rem;
	margin-left: 32rem;
	height: max-content;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 1260px) {
	.favorite {
    margin-left: 0rem;
  }
}
