.checkbox {
  font-family: 'Raleway' !important;
}
.option {
	font-family: 'Raleway' !important;
}
.input input {
	font-family: 'Raleway' !important;
}


@media screen and (max-width: 680px) {
	.checkbox {
		transform: scale(1.3) !important;
	}
	.option {
		font-size: 2rem !important;
	}
  .input input {
		font-size: 2rem !important;
	}
}
@media screen and (max-width: 480px) {
	.option {
		font-size: 2.5rem !important;
	}
	.input input{
		font-size: 2.5rem !important;
	}
}
