.border {
  border: .1rem solid #90caf9;
  width: 50%;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
.title {
  font-size: 2rem;
  color: #90caf9;
}
.description {
  text-align: justify;
  font-size: 1.8rem;

}